body{
  border: 20px solid #bdc3c7;
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  width: 80%
}
h1{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 2.0rem;

}
h4{
  color: #3498db;
  font-weight:900;
  letter-spacing: 0.2rem; /*rem is relative to the element itself in this case
  the latters*/
  text-transform: uppercase;
  font-size: 14px

}

p{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding-left: 4px
}
hr{
  border-top: rgba(0,0,0,.1) 1px solid;
  border-bottom: rgba(255,255,255,.3) 1px solid

}
.firstp{
  border-left: 6px solid #bdc3c7;
}
